{% extends "base.html" %}

{% load static %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}

{% block content %}
        <div class="container my-4">
            <h1>Your Shopping Cart</h1>
            {% if cart and cart.items.exists %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart.items.all %}
                    <tr data-item-id="{{ item.id }}">
                        <td>{{ item.product.name }}</td>
                        <td>
                            <div class="input-group">
                                <button class="btn btn-outline-secondary btn-sm update-quantity" data-action="decrement">-</button>
                                <input type="number" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}" class="form-control form-control-sm text-center quantity-input">
                                <button class="btn btn-outline-secondary btn-sm update-quantity" data-action="increment">+</button>
                            </div>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            {% if item.product.stock <= 0 %}
                                <small class="text-danger">Out of stock</small>
                            {% endif %}
                        </td>
                        <td>£{{ item.product.price }}</td>
                        {% comment %} <td class="item-total">£{{ item.total|floatformat:2 }}</td> {% endcomment %}
                        <td class="item-total">£{{ item.total }}</td>
                        <td>
                            <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger btn-sm">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Total Cost -->
            <div class="mt-3">
                <h5 id="cart-total">Total Cost: £{{ total_cost|floatformat:2 }}</h5>
            </div>
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
</div>
{% endblock %}