{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container my-4">
  <h1>My Profile</h1>
  <p><strong>Username:</strong> {{ request.user.username }}</p>
  <p><strong>Email:</strong> {{ request.user.email }}</p>
  <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
  <p><strong>Address:</strong> {{ profile.formatted_address }}</p>
  {% comment %} <p><strong>Address:</strong>
    {% if profile.street_address %}{{ profile.street_address }}{% endif %}
    {% if profile.city %}
        {% if profile.street_address %}, {% endif %}{{ profile.city }}
    {% endif %}
    {% if profile.postcode %}
        {% if profile.street_address or profile.city %}, {% endif %}{{ profile.postcode }}
    {% endif %}
    {% if profile.country %}
        {% if profile.street_address or profile.city or profile.postcode %}, {% endif %}{{ profile.country }}
    {% endif %}
</p> {% endcomment %}
  <p><strong>County:</strong> {{ profile.county }}</p>
  <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
  <p><strong>Bio:</strong> {{ profile.bio }}</p>
  {% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" style="max-width: 200px;">
  {% endif %}
  <div class="mt-4">
    <a href="{% url 'profiles:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
  </div>
</div>
{% endblock %}