{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-4">
    {% if messages %}
    <div class="container my-2">
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger custom-alert">
                {{ message }}
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success custom-alert">
                {{ message }}
                </div>
            {% elif message.tags == "warning" %}
                <div class="alert alert-warning custom-alert">
                {{ message }}
                </div>
            {% else %}
                <div class="alert alert-info custom-alert">
                {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="container my-4">
  <h1>Order Lookup</h1>
  <p>If you are not registered, you can find your order by entering your order number and email.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Lookup Order</button>
  </form>
</div>

{% endblock %}