{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock %}
    {% block extracss %}
    {% endblock %}


    {% block corejs %}
        <!-- JS (Bundle inclusiv Popper.js) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}

    <title>Magazi {% block extra_title %}{% endblock %}</title></title>
  </head>
  <body>
    <h2>THIS IS BASE.HTML</h2>

    <header class="container-fluid fixed-top"></header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
      <header>
          <div class="px-3 py-2 text-bg-dark border-bottom">
              <div class="container">
                  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                          Magazi
                      </a>

                      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/" class="{% if request.path == '/' %}text-secondary{% else %}text-white{% endif %} nav-link">
                                <svg class="bi  bi-house d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/" class="{% if request.path == '/dashboard/' %}text-secondary{% else %}text-white{% endif %} nav-link">
                                <svg class="bi bi-speedometer2 d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="/orders/" class="{% if request.path == '/orders/' %}text-secondary{% else %}text-white{% endif %} nav-link">
                                <svg class="bi bi-table d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="/products/" class="{% if request.path == '/products/' %}text-secondary{% else %}text-white{% endif %} nav-link">
                                <svg class="bi bi-grid d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="/customers/" class="{% if request.path == '/customers/' %}text-secondary{% else %}text-white{% endif %} nav-link">
                                <svg class="bi bi-people d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                                Customers
                            </a>
                        </li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="px-3 py-2 border-bottom mb-3">
              <div class="container d-flex flex-wrap justify-content-center">
                  <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                  </form>

                  <div class="text-end">
                    {% if user.is_authenticated %}
                    <a href="/accounts/logout/" class="btn btn-light text-dark me-2">Logout</a>
                    {% else %}
                    <a href="/accounts/login/" class="btn btn-light text-dark me-2">Login</a>
                    <a href="/accounts/signup/" class="btn btn-primary">Sign-up</a>
                    {% endif %}
                </div>
              </div>
          </div>
      </header>
    {% endblock %}

    {% block precontent %}  

    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
  </body>
</html>
